* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #111;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: white;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #111;
}

.hero {
    text-align: center;
    padding: 150px 20px;
    background: #111;
    color: white;
}

.hero h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

button {
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

section {
    padding: 80px 8%;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.card {
    background: white;
    padding: 35px;
    border-radius: 12px;
    width: 250px;
}

#contact {
    background: white;
}
